## Sobre o desafio

De acordo com o que foi ensinado no módulo, iremos trabalhar com previsões de vendas de uma loja. O dicionário disponibilizado não é difícil de entender, porém deveremos contar com as implementações que vimos no módulo para:

- Tratar os dados
- Formatar (se necessário)
- Treinar o modelo
- Prever a venda de dezembro
- Montar um histograma dos dados
- Montar um plot de scatter

In [1]:
# Importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score

In [2]:
dados_vendas = {
    'mes': ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    'vendas': [2000, 2200, 2300, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300]
}

In [9]:
# Criar Dataframe de vendas
df_vendas = pd.DataFrame.from_dict(dados_vendas)

In [12]:
# Visualizar o DF
df_vendas.head(12)

          mes  vendas  mes_numero
0     Janeiro    2000           1
1   Fevereiro    2200           2
2       Março    2300           3
3       Abril    2500           4
4        Maio    2600           5
5       Junho    2700           6
6       Julho    2800           7
7      Agosto    2900           8
8    Setembro    3000           9
9     Outubro    3100          10
10   Novembro    3200          11
11   Dezembro    3300          12

In [11]:
# Adiconar uma coluna pra representar o mês em número
df_vendas['mes_numero'] = range(1, 13)